.not-found-container {
  background-image: linear-gradient(to bottom right, skyblue, lavender);
  position: absolute;
  right: 0;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
